@if (TempData.ContainsKey("message"))
{
    _63CNTT4N2HL.Library.XMessage message = (_63CNTT4N2HL.Library.XMessage)TempData["message"];
    <div class="alert alert-@message.TypeMsg">
        @message.Msg
    </div>
}
